* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container {
  display: flex;
  gap: 10px;
}

.board {
  height: 60vh;
  width: 250px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 10px;
  margin: 10px;
}
