* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container {
  display: flex;
  gap: 10px;
}

.board {
  height: 60vh;
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 10px;
  margin: 10px;
  font-size: large;
  text-align: center;
  padding-top: 15px;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: auto;
}

.task {
  text-align: start;
  margin-top: 10px;
  padding: 10px;
  height: 50px;
  width: 80%px;
  border: 1px solid black;
  border-radius: 10px;
}

.task:hover {
  background-color: #4e4e4e;
  color: white;
  cursor: pointer;
}

.add-task-btn {
  height: 30px;
  width: 150px;
  margin-left: 10px;
  cursor: pointer;
}

.darkModeBtn {
  float: right;
  margin-right: 30px;

  height: 30px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.toggleBoard {
  border: 1px solid seashell;
}

.toggleTask {
  border: 1px solid rgb(247, 242, 242);
}
